.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: 0.2s;
  padding: 10px 30px;
}

.switchers {
  position: absolute;
  left: 0;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s;
  width: 100%;

  &:hover {
    color: var(--primary-color);

    path {
      stroke: var(--primary-color);
    }
  }

  & + & {
    margin-top: 20px;
  }
}

.navIcon {
  margin-right: 10px;

  path {
    transition: 0.2s;
    stroke: var(--inverted-primary-color);
  }
}

.SidebarThemeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s;

  span {
    margin-left: 12px;
  }

  &:hover {
    color: var(--secondary-color);

    * {
      stroke: var(--secondary-color);
    }
  }
}

.SidebarLangSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 0.2s;

  span {
    margin-left: 12px;
  }

  &:hover {
    color: var(--secondary-color);

    * {
      stroke: var(--secondary-color);
    }
  }
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  padding: 10px;

  .SidebarThemeSwitcher {
    font-size: 0;

    span {
      margin-left: 0;
    }
  }

  .SidebarLangSwitcher {
    flex-direction: column;

    span {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  .nav {
    margin-left: 0;
    margin-right: 0;
  }

  .navItem {
    font-size: 0;
    justify-content: center;
  }

  .navIcon {
    margin-right: 0;
  }
}
