.app.dark {
  --bg-color: #08082d;
  --inverted-bg-color: #949498;
  --text-color: #e9e6e1;
  --primary-color: #039604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0b27dc;
  --inverted-secondary-color: #050e6f;
}
